/* App.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #9f9ed67e;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
  padding: 20px;
  background-color: #4475df8c;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  width: 100%;
  height: 300px;
  margin: 10px 0;
  background-color: #dacd97;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.feedback {
  min-height: 2rem;
  margin: 0;
}

.correct {
  color: #4caf50;
}
.incorrect {
  color: #f44336;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  margin: 0 40px 0 0;
  font-size: 1.5em;
}

h3 {
  margin: 0 40px 0 0;
  font-size: 3.5em;
  color: #333;
}

input {
  width: 1em;
  height: 1em;
  padding: 10px;
  margin: 0 40px 0 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 3.5em;
}

hr {
  width: 80%;
  border: none;
  border-top: 0.3em solid #333;
  margin: 0 20px 20px 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

button {
  padding: 10px 20px;
  margin: 10px 0;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #45a049;
}
